AUTOMATING EXCEL TASK USING PYTHON

In [36]:
import pandas as pd

Load Dataset

In [37]:
data= pd.read_csv('customer_feedback_scores.csv')
data.head()

,Date,Customer ID,Region,Product,Support Rating,Product Rating,Comments
0,2024-01-05,CUST001,North,Software A,4,5,Quick resolution
1,2024-01-07,CUST002,South,Software B,3,4,Some bugs found
2,2024-01-09,CUST003,East,Software C,5,5,Very satisfied
3,2024-02-01,CUST004,North,Software A,4,4,Support was helpful
4,2024-02-10,CUST005,South,Software B,2,3,Could be improved

Grouping Average Rating by Product

In [38]:
#Average rating automation
avg_rating= data.groupby('Product')[['Support Rating','Product Rating']].mean().reset_index()
avg_rating.head()

      Product  Support Rating  Product Rating
0  Software A             4.0             4.6
1  Software B             3.0             3.6
2  Software C             4.8             4.6

In [39]:
# create excel file for Avg_rating with xlsxWriter
writer= pd.ExcelWriter('Feedback_Summary_chart.xlsx', engine= 'xlsxwriter')
avg_rating.to_excel(writer,sheet_name= 'Feedback Summary', index=False)

Create excel workbook and worksheet

In [40]:
workbook= writer.book
worksheet= writer.sheets['Feedback Summary']

Create Column Chart

In [41]:
# Define chart
chart = workbook.add_chart({'type':'column'})

In [42]:
 # Product Rating
chart.add_series({
    'name':'Product Rating',
    'categories': ['Feedback Summary',1, 0, len(avg_rating),0],   #x_axis
    'values': ['Feedback Summary',1, 2, len(avg_rating),2]   #y_axis
})

chart.set_title({'name': 'Average Customer Rating'})
chart.set_x_axis({'name': 'Product'})
chart.set_y_axis({'name': 'Rating'})

In [43]:
# Support rating
chart.add_series({
    'name':'Support Rating',
    'categories': ['Feedback Summary',1, 0, len(avg_rating),0],    # x_axis 
    'values': ['Feedback Summary',1, 1, len(avg_rating),1]     # y_axis
})

chart.set_title({'name':'Average Customer Rating'})
chart.set_x_axis({'name':'Product'})
chart.set_y_axis({'name':'Rating'})

worksheet.insert_chart('F2', chart)

writer.close()